#Assignment: Compresive Strength Concrete Problem
Abstract:

Concrete is the most important material in civil engineering. The concrete compressive strength (concrete strength to bear the load) is a highly nonlinear function of age and ingredients.


Data Set Characteristics:  

Multivariate

Number of Instances:

1030

Area:

Physical

Attribute Characteristics:

Real

Number of Attributes:

9

Date Donated

2007-08-03

Associated Tasks:

Regression

Missing Values?

N/A

Number of Web Hits:

231464

#Description:
Features Name	Data Type	Measurement	Description
Cement (component 1) | quantitative | kg in a m3 mixture | Input Variable Blast Furnace Slag (component 2) | quantitative | kg in a m3 mixture | Input Variable Fly Ash (component 3) | quantitative | kg in a m3 mixture | Input Variable Water (component 4) | quantitative | kg in a m3 mixture | Input Variable Superplasticizer (component 5) | quantitative | kg in a m3 mixture | Input Variable Coarse Aggregate (component 6) | quantitative | kg in a m3 mixture | Input Variable Fine Aggregate (component 7) | quantitative | kg in a m3 mixture | Input Variable Age | quantitative | Day (1~365) | Input Variable Concrete compressive strength | quantitative | MPa | Output Variable

#WORKFLOW :
Load Data

Check Missing Values ( If Exist ; Fill each record with mean of its feature )

Standardized the Input Variables. Hint: Centeralized the data

Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% 
Validation Data(Samples,Labels).

Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

Compilation Step (Note : Its a Regression problem , select loss , metrics according to it)

Train the Model with Epochs (100) and validate it
If the model gets overfit tune your model by changing the units , No. of layers , activation function , epochs , add dropout layer or add Regularizer according to the need .

Evaluation Step

Prediction

In [2]:
import numpy as np
import pandas as pd
import tensorflow.keras as tf
from tensorflow.keras import models, layers, optimizers
import matplotlib.pyplot as plt

# 1.Load Data

In [19]:
df = pd.read_csv("sample_data/compresive_strength_concrete.csv")
df

      Cement (component 1)(kg in a m^3 mixture)  ...  Concrete compressive strength(MPa, megapascals)
0                                         540.0  ...                                             79.99
1                                         540.0  ...                                             61.89
2                                         332.5  ...                                             40.27
3                                         332.5  ...                                             41.05
4                                         198.6  ...                                             44.30
...                                         ...  ...                                               ...
1025                                      276.4  ...                                             44.28
1026                                      322.2  ...                                             31.18
1027                                      148.5  ...                                             23.70
1028                                      159.1  ...                                             32.77
1029                                      260.9  ...                                             32.40

[1030 rows x 9 columns]

# 2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

In [4]:
df.isnull().sum()

Cement (component 1)(kg in a m^3 mixture)                0
Blast Furnace Slag (component 2)(kg in a m^3 mixture)    0
Fly Ash (component 3)(kg in a m^3 mixture)               0
Water  (component 4)(kg in a m^3 mixture)                0
Superplasticizer (component 5)(kg in a m^3 mixture)      0
Coarse Aggregate  (component 6)(kg in a m^3 mixture)     0
Fine Aggregate (component 7)(kg in a m^3 mixture)        0
Age (day)                                                0
Concrete compressive strength(MPa, megapascals)          0
dtype: int64

NO missing value in dataset

In [5]:

#checking abnormal values and outliers
df.describe()

       Cement (component 1)(kg in a m^3 mixture)  ...  Concrete compressive strength(MPa, megapascals)
count                                1030.000000  ...                                       1030.000000
mean                                  281.167864  ...                                         35.817961
std                                   104.506364  ...                                         16.705742
min                                   102.000000  ...                                          2.330000
25%                                   192.375000  ...                                         23.710000
50%                                   272.900000  ...                                         34.445000
75%                                   350.000000  ...                                         46.135000
max                                   540.000000  ...                                         82.600000

[8 rows x 9 columns]

# 3.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

In [12]:

train_data, validate_data, test_data  = np.split(df.sample(frac=1, random_state=123), 
                       [int(.5*len(df)), int(.7*len(df))])

In [13]:
train_data.shape

(515, 9)

In [14]:
validate_data.shape

(206, 9)

In [15]:
test_data.shape

(309, 9)

In [24]:
train_label = train_data.iloc[:,8]
test_label = test_data.iloc[:,8]

In [28]:
train_data.columns

Index(['Cement (component 1)(kg in a m^3 mixture)',
       'Blast Furnace Slag (component 2)(kg in a m^3 mixture)',
       'Fly Ash (component 3)(kg in a m^3 mixture)',
       'Water  (component 4)(kg in a m^3 mixture)',
       'Superplasticizer (component 5)(kg in a m^3 mixture)',
       'Coarse Aggregate  (component 6)(kg in a m^3 mixture)',
       'Fine Aggregate (component 7)(kg in a m^3 mixture)', 'Age (day)',
       'Concrete compressive strength(MPa, megapascals) '],
      dtype='object')

In [29]:
test_data = test_data.drop(columns=['Concrete compressive strength(MPa, megapascals) '])
train_data = train_data.drop(columns=['Concrete compressive strength(MPa, megapascals) '])

In [30]:
test_data

      Cement (component 1)(kg in a m^3 mixture)  ...  Age (day)
1023                                      159.8  ...         28
149                                       425.0  ...         56
516                                       202.0  ...          3
218                                       190.3  ...        100
1004                                      279.8  ...         28
...                                         ...  ...        ...
47                                        380.0  ...        180
638                                       375.0  ...         28
113                                       389.9  ...          7
96                                        425.0  ...          7
106                                       362.6  ...          7

[309 rows x 8 columns]

In [31]:
train_data

     Cement (component 1)(kg in a m^3 mixture)  ...  Age (day)
134                                      362.6  ...         28
13                                       190.0  ...         90
996                                      152.6  ...         28
770                                      349.0  ...          3
937                                      313.3  ...         28
..                                         ...  ...        ...
646                                      250.2  ...         90
42                                       237.5  ...        365
684                                      192.0  ...         90
605                                      236.0  ...          3
174                                      401.8  ...         91

[515 rows x 8 columns]